<!DOCTYPE html>
<html lang='en'>

<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="description" content="This site is used for signing up" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load css -->
    <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body id='about'>
    <header>
        <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png"></a>
        <nav>
            <ul class="nav__links">
                <li><a hre='/rules'>Rules</a></li>
                <li><a href="/requirements">Requirements</a></li>
                <li><a href='/contact'>Contact</a></li>
            </ul>
        </nav>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href='/'>Home</a>
            <a href='/rules'>Rules</a>
            <a href="/requirements">Requirements</a>
            <a href='/contact'>Contact</a>
        </div>
    </div>

    <form>
        <div class='title'>
            <h2>About Remnant Community</h2>
            <hr id='Underline'>
        </div>
        <div class='about'>
            <p>The Remnant RP Community is for serious players</p>
            <p>who enjoy and take CvC Seriously. We look for long</p>
            <p>or non long term players. We hope to have a kind, fun</p>
            <p>Community for everyone to enjoy. We try to keep things</p>
            <p>up to date and entertaining. Feel Free to apply to the</p>
            <p>Remnant Community</p>
            <button href='/apply' id='button'><a href='/apply'>Apply Now</a></button>
        </div>
    </form>

    <!-- Load Mobile V script -->
    <script type="text/javascript" src="/static/scripts/mobile.js"></script>
</body>

</html>