<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Apply</title>
    <meta charset="utf-8">
    <meta name="description" content="This site is used for signing up" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load css -->
    <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body id='apply'>
    <header>
        <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="/rules">Rules</a></li>
                <li><a href='/requirements'>Requirements</a></li>
                <li><a href="/about">About</a></li>
                <li><a href='/contact'>Contact</a></li>
            </ul>
        </nav>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href='/'>Home</a>
            <a href="/rules">Rules</a>
            <a href='/requirements'>Requirements</a>
            <a href="/about">About</a>
            <a href='/contact'>Contact</a>
        </div>
    </div>

    <form>
        <div class='req-check'>
            <h3>Make Sure you've read the Requirements before applying.</h3>
            <a href='/requirements'>Requirements</a>
        </div>
        <div class='title'>
            <h2>Apply</h2>
            <hr id='Underline'>
        </div>
        <div class='apply'>
            <p>To apply Please Contact one of the Server Directors on Discord listed here:</p>
            <p>McDazzzled #5307, Headmaster Jaune Arc #9134</p>
            <p>Message them Why you want to join, why we can trust you.</p>
            <p>Also include if you have prior experience.</p>
            <p>Include what role you would like to carry on. And you may change it later</p>
            <p>or have more than one role. Or just stick with the one role you'd like.</p>
            <p>As a reminder, you need to be willing to be a cop just in case of being short</p>
            <p>on cops. If you get accepted. You'll personally recieve an invite to the discord.</p>
            <p>We will respond in 1-2 Days most likely.</p>
            <p>Once in the discord, please go through all of the information category. Thank You!</p>
        </div>
    </form>

    <!-- Load Mobile Script -->
    <script type="text/javascript" src="/static/scripts/mobile.js"></script>
</body>

</html>
