<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Remnant Community RP</title>
        <meta charset="utf-8">
        <meta name="description" content="This site is used for signing up"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Load css -->
        <link rel='stylesheet' href='/static/css/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    </head>
    <body id='home'>
        <header>
            <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="/rules">Rules</a></li>
                    <li><a href='/requirements'>Requirements</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href='/contact'>Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="/rules">Rules</a>
                <a href='/requirements'>Requirements</a>
                <a href="/about">About</a>
                <a href='/contact'>Contact</a>
            </div>
        </div>
        <form class='main'>
            <div>
                <h1 class='title'>Remnant Community Rp</h1>
                <hr id='Underline'>
                <strong>
                    <p>Remnant Community Rp is for serious Cop v Civ Rp.</p>
                    <p>This site is the dedicatied site for applying and info.</p>
                    <p>You can apply, read the rules, or check out what you need!</p>
                </strong>
            </div>
            <div>
                <button href='/apply' id='button'><a href='/apply'>Apply Now</a></button>
            </div>
        </form>

        <!-- Load Mobile script -->
        <script type="text/javascript" src="/static/scripts/mobile.js"></script>
    </body>
</html>
