<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Requirements</title>
        <meta charset="utf-8">
        <meta name="description" content="This site is used for signing up"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Load css -->
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body id='req'>
        <header>
            <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="/rules">Rules</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href='/contact'>Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="/rules">Rules</a>
                <a href="/about">About</a>
                <a href='/contact'>Contact</a>
            </div>
        </div>

        <form>
            <div class='title'>
                <h1>Requirements</h1>
                <hr id='Underline'>
            </div>
            <div class='cad'>
                <h3>Lines Police CAD</h3>
                <a href='https://www.linespolice-cad.com/'>Line Police CAD</a> 
                <p>Lines Police CAD is required for our RP's</p>
                <p>It is a safe free to use website for CvC.</p>
                <a href='https://www.linepolice-cad.com/'><img id='lines-img' src='/static/images/police-cad.png'></a>
            </div>
            <div class='dis'>
                <h3>Discord</h3>
                <a href='https://www.discord.com/'>Disocrd</a>
                <p>Discord Is a Free to use Website/Application</p>
                <p>You can download it for PC, Mobile or use the web Edition</p>
                <p>Discord Is a worldwide chat for gamers</p>
                <a href='https://www.discord.com.'><img id='dis-img' src='/static/images/discord-1.png'></img></a>
                <img id='dis-img' src='/static/images/discord-2.png'>
            </div>
        </form>

        <!-- Load Mobile Script -->
        <script type="text/javascript" src="/static/scripts/mobile.js"></script>
    </body>
</html>
