<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Rules</title>
        <meta charset="utf-8">
        <meta name="description" content="This site is used for signing up"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Load css -->
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body id='rules'>
        <header>
            <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="/requirements">Requirements</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href='/contact'>Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="/requirements">Requirements</a>
                <a href="/about">About</a>
                <a href='/contact'>Contact</a>
            </div>
        </div>
        <div class='rules'>
            <div id='rule__title'>
                <h2><strong>Community RP Rules</strong></h2>
                <hr id='Underline'>
            </div>
            <ul>
                <strong>
                    <li><p>1. No LEO or Civ baiting</p></li>
                    <li><p>2. No Mini Map or Player HUD is to be Active</p></li>
                    <li><p>3. If you are tasered, you MUST count to 15 seconds before you can move</p></li>
                    <li><p>4. No Supers or vehicles from Elitas, Dock Tease or Arena War. Warstock exeptions are as follows;</p>
                        <p>   Mule(3 variants), Stockade, Pounder Custom(Unarmed), Brickade(ONLY as mobile home), Mesa and</p>
                        <p>   Crusader(as retired military)</p>
                    </li>
                    <li><p>5. All vehicles cannot go above 110 MPH</p></li>
                    <li><p>6. Motercycles are as follows; Avarus, PCJ 600, Sovereign, Daemon + Lost, Hexer, Enduro, Chimera, Bagger,</p>
                        <p>   Wolfsbane, Faggio and Faggio Sport</p>
                    </li>
                    <li><p>7. If you FRP once, you only get ONE warning. FRP twice you, you'll be asked to leave. Failure to comply</p>
                        <p>   Will result in you being kicked from session and banned from future RP's.</p>
                    </li>
                    <li><p>8. No Killing for no reason. Build up a few scenes before killing another player, civilian or otherwise.</p></li>
                    <li><p>9. Make a story. Don't just do scenes for the sake of doing scenes.</p></li>
                    <li><p>10. Weapons are as follows; Pistols(SNS, Combar, .50 [Flare gun RP as tazer]), Machine Gun(Micro SMG,</p>
                        <p>    Mini SMG, Machine Pistol, SMG), Aussalt  Rifles(AR, Carbine, Special Carbine, Compact Rifle.), </p>
                        <p>    Shotgun(Pump, Sawed Off), Explosives(Jerry Can[As Briefcase or Alternitive Fuel Source ONLY], </p>
                        <p>    Tear Gas[ONLY For extreme Cases for LEO]), Heavy Weapons(Homeing Launcher & Firework launcher</p>
                        <p>    [Only as cameras, must be emptied before hand])</p>
                    </li>
                    <li><p>11. Melee Weapon Ban as follows; Battle Axe, Stone Hatchet, Machete, Nightstick(Civilian Ban Only),</p>
                        <p>    Weapons that have Real Life purposes MUST be used for that purpose. Ex. Wrench.</p>
                    </li>
                    <li><p>12. Do not flood 911 calls. 10 min Priority cool down. Max 1 Priority at a given time.</p></li>
                    <li><p>13. 311 Is to be used for Buisness calls only. Buyable Building are as follows;</p>
                        <p>    Sandy Shores(24/7, Barber Shop, Ammunation, Liquor Ace, Boathouse, Tattoo Parler, Junkyard,</p>
                        <p>    Recycling Center w/ Plane Yard), Harmony[US Route 68](24/7x2, Discount Clothing Store, </p>
                        <p>    Suburban, Redwood Light Track, Los Santos Customs), Grapeseed(24/7, Clothing Store)</p>
                    </li>
                    <li><p>14. And rule 14. The most important Rule of all. Enjoy the RP.</p></li> 
                </strong>
                <h3 style='letter-spacing: 2px; margin-top: 100px; margin-bottom: 50px;'>If you have any feedback about the Website, RP rules, etc. Checkout the <a style='color: white' href='/contact'>Contact</a> Section.</h3>
            </ul>
        </div>

        <!-- Load Mobile V script -->
        <script type="text/javascript" src="/static/scripts/mobile.js"></script>
    </body>
</html>
