<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Rules</title>
    <meta charset="utf-8">
    <meta name="description" content="This site is used for signing up" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load css -->
    <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body id='rules'>
    <header>
        <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png"></a>
        <nav>
            <ul class="nav__links">
                <a href='/'>Home</a>
                <li><a href="/requirements">Requirements</a></li>
                <li><a href="/about">About</a></li>
                <li><a href='/contact'>Contact</a></li>
            </ul>
        </nav>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href='/'>Home</a>
            <a href="/requirements">Requirements</a>
            <a href="/about">About</a>
            <a href='/contact'>Contact</a>
        </div>
    </div>
    <div class='rules'>
        <div id='rule__title'>
            <h2><strong>Community RP Rules</strong></h2>
            <hr id='Underline'>
        </div>
        <ul>
            <strong>
                    <li><p>1. No LEO or Civ baiting</p></li>
                    <li><p>2. No Mini Map or Player HUD is to be Active</p></li>
                    <li><p>3. If you are tasered, you MUST count to 15 seconds before you can move</p></li>
                    <li><p>4. No vehicles from Elitas, Dock Tease or Arena War. Nothing from Warstock that is weaponized, armored</p>
                        <p>   Or is able to fly.</p>
                    </li>
                    <li><p>5. Tint and under glow are SECONDARY offences, meaning you cannot be pulled over for it, BUT can be</p>
                        <p>   Ticketed once a primary pullover reason is established.</p>
                    </li>
                    <li><p>5b. Red, Blue, Yellow, Orange and Amber under glow is illegal as the resemble emergency units. Colored</p>
                        <p>    Headlights, unless the color is the STOCK color, is illigal. Drag Radials on asphalt roads is a</p>
                        <p>    Secondary offence.</p>
                    </li>
                    <li><p>6. FRP once, only warning. Next FRP WILL result in asking to leave game session. Failure to comply will</p>
                        <p>   Result in forceful removal and BANNING from future RPs.</p>
                    </li>
                    <li><p>7. NO Killing for no reason. Build up a few scenes before killing another player, civilian or otherwise.</p></li>
                    <li><p>7b. Make a story. Don't do scenes for the sake of doing scenes.</p></li>
                    <li><p>8. Weapons are as follows; Pistols(SNS, Combat, .50 [Flare gun RP as taser]), Machine Gun(Micro SMG,</p>
                        <p>   Mini SMG, Machine Pistol), Aussalt Rifles(AR, Carbine, Special Carbine, Compact Rifle.), </p>
                        <p>   Shotgun(Pump, Sawed-off), Explosives(Jerry Can[As Briefcase or Alternitive Fuel Source ONLY]), </p>
                        <p>   Heavy Weapons(Homeing Launcher & Firework launcher[Only as cameras, MUST BE EMPTIED BEFORE HAND])</p>
                    </li>
                    <li><p>8b. Civilains can own up to Either;</p>
                        <p>    [2 Pistols and a Shotgun]</p>
                        <p>    [2 Pistols and a Machine Gun]</p>
                        <p>    [1 Pistol, 1 Shotgun and a Machine Gun]</p>
                        <p>    [1 Machine Gun and a Shotgun]</p>
                        <p></p>
                        <p>    LEO can own up to 1 Taser and either;</p>
                        <p>    [1 Pistol and a Machine Gun]</p>
                        <p>    [1 Pistol, 1 Shotgun and a Machine Gun]</p>
                        <p>    [1 Machine Gun and a Shotgun]</p>
                        <p>    Assult Rifles are NOT legal for Civilians.</p>
                    </li>
                    <li><p>9. Melee Weapons BANS are as follow; Battle Axe, Stone Hatchet, Machete, Night Stick(Civlian Ban Only)</p>
                        <p>   Weapons that have Real Life purposes MUST be used for that purpose, Ex. Wrench.</p>
                    </li>
                    <li><p>10. Do NOT flood 911 calls. 10 minute priority cool down time. Max 1 priority call at a time.</p></li>
                    <li><p>11. 311 is to be used for buisness calls ONLY. Buyable building are as follows;</p>
                        <p>    Sandy Shores (24/7[Inside SS and US HWY 13], Barbershop, Ammunationi, Liquor Ace, Boathouse,</p>
                        <p>    Tattoo Parlor, Junkyard, Recycling Center w/ Plane Yard)</p>
                        <p>    Harmony [US Route 68](24/7 x2, Discount Clothing Store, Suburban, Redwood Lights Track, Los</p>
                        <p>    Santos Customs, Gas Station by Great Ocean HWY1)</p>
                        <p>    Grapeseed (24/7, Discount Clothing Store)</p>
                        <p>    Paleto (Ammunation, Discount Clothing Store, Beeker's Garage, Junkyard, Gas Station, Tattoo Parler,</p>
                        <p>    Barbershop)</p>
                    </li>
                    <li><p>12. Vehicle; Realistic Super Cars, Realistic Sports Cars, Realistic Motorcyles. Obviously nothing with</p>
                        <p>    The capability to use guns unless its the decommissioned JBW. Keep super and sports cars to the</p>
                        <p>    Asphalt.</p>
                    </li>
                    <li><p>12a. To combat this, police will be able to use the following:</p>
                        <p>     -For less than 9 players; 1 High Speed Pursuit Unit</p>
                        <p>     -For 9 - 11 players; 1 Undercover Unit and 1 High Speed Pursuit Unit</p>
                        <p>     -For 12 - 13 players; 1 Undercover Unit, 2 High Speed Pursuit Units, and 1 Air Unit</p>
                        <p>     -For 13 - 15 players; 2 Undercover Units, 3 High Speed Pursuit Units, and 1 Air Unit</p>
                        <p>     -For 15+; At least 3 Undercover Units, 3 High Speed Pursuit Units and 2 Air Units. Any additional</p>
                        <p>      units at your discretion.</p>
                    </li>
                    <li><p>12b. Air Units have a operating time of 7 minutes and 5 minute cooldown as it will be BINGO Fuel and</p>
                        <p>     RTB of resupply*</p>
                    </li>
                    <li><p>12c. Any Violations of Rule 13 is ZERO TOLERANCE nad will result in removal form RP and time out duration</p>
                        <p>     Of 1 RP. Repeats of violation will double the penalty and are stackable up to 12 RP timout duration.</p>
                        <p>     Any further violation will result in the removal from Remnant RP Community entirely and your addition</p>
                        <p>     To #ban-list on the Discord Server.</p>
                    </li>
                    <li><p>13. Please Keep in mind that fear factor is a thing and it is a very real thing. Make sure you keep this</p>
                        <p>    In mind and use it to your full advantage. Any problems with this talk to a host / Server Director</p>
                        <p>    On discord.</p>
                    </li>
                    <li><p>* BINGO Fuel means Low enough fuel to need to return to base, RTB means to Return to Base.</p></li>
                    <li><p>14. And very important rule is to have fun and enjoy the RP.</p></li>
                </strong>
            <h3 style='letter-spacing: 2px; margin-top: 100px; margin-bottom: 50px;'>If you have any feedback about the Website, RP rules, etc. Checkout the <a style='color: white' href='/contact'>Contact</a> Section.</h3>
        </ul>
    </div>

    <!-- Load Mobile V script -->
    <script type="text/javascript" src="/static/scripts/mobile.js"></script>
</body>

</html>