<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Rules</title>
    <meta charset="utf-8">
    <meta name="description" content="This site is used for signing up" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load css -->
    <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body id='rules'>
    <header>
        <a class="logo-link" href="/"><img class="logo" src="/static/images/Remnant-RP-no-bg.png" alt=''></a>
        <nav>
            <ul class="nav__links">
                <a href='/'>Home</a>
                <li><a href="/requirements">Requirements</a></li>
                <li><a href="/about">About</a></li>
                <li><a href='/contact'>Contact</a></li>
            </ul>
        </nav>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href='/'>Home</a>
            <a href="/requirements">Requirements</a>
            <a href="/about">About</a>
            <a href='/contact'>Contact</a>
        </div>
    </div>
    <div class='rules'>
        <div id='rule__title'>
            <h2><strong>Community RP Rules</strong></h2>
            <hr id='Underline'>
            <h3><strong>Since our rules are starting to get so complex, we have removed them from the website :(</strong></h3>
            <p><strong>But you can view them here!</strong></p>        
            <a id='download' href='/static/content/Remnant-RP-Rules.pdf' download>Download Rules PDF</a>
            <p><stron>or</stron></p>
            <a style='color:white;' href='https://docs.google.com/document/d/1dxlm-t0KqUIZAtrFqDWpe5HdK4Zxh-FGvycUl143DD0/edit?usp=sharing'>Google Docs Version!</a>
        </div>
    </div>

    <!-- Load Mobile V script -->
    <script type="text/javascript" src="/static/scripts/mobile.js"></script>
</body>

</html>
